.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-align: center;
    color:bisque;
    background-color: steelblue;
    padding: 2em;
  }

  body{
    background-color: aquamarine;
  }